[submodule "external/OmniVLA"]
	path = external/OmniVLA
	url = https://github.com/NHirose/OmniVLA
[submodule "external/AsyncVLA"]
	path = external/AsyncVLA
	url = https://github.com/NHirose/AsyncVLA
[submodule "external/raspicat-sim-docker"]
	path = external/raspicat-sim-docker
	url = https://github.com/CIT-Autonomous-Robot-Lab/raspicat-sim-docker
[submodule "external/MBRA"]
	path = external/MBRA
	url = https://github.com/NHirose/Learning-to-Drive-Anywhere-with-MBRA
[submodule "external/movla"]
	path = external/movla
	url = https://github.com/NOPLAB/movla.git
[submodule "external/usim"]
	path = external/usim
	url = https://github.com/NOPLAB/usim.git
